{{selectedDays | json}}
<!-- {{this.form.controls['days'].value | json}}
{{this.form.controls['startTime'].value | json}}
{{this.form.controls['endTime'] |.value json}} -->

<div class="scheduler-content">
    <form class="scheduler-inputs" [formGroup]="form" (ngSubmit)="addNewDayEvents()">
        <!--Days-->
        <div class="form-group-inline">
            <div class="label" for="days">Days</div>
            <p-multiSelect [options]="daysDialogOptions" [showHeader]="false" defaultLabel=" " [scrollHeight]="'123px'"
                id="days" formControlName="days"></p-multiSelect>
        </div>
        <!--Start Time-->
        <div class="form-group-inline">
            <div class="label" for="startTime">Start Time</div>
            <p-dropdown [options]="timeDialogOptions" placeholder=" " optionLabel="label" id="startTime"
                formControlName="startTime">
                <ng-template let-time pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <!-- <i class="fas fa-check"></i> -->
                        <div>{{time.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <!--End Time-->
        <div class="form-group-inline">
            <div class="label" for="endTime">End Time</div>
            <p-dropdown [options]="timeDialogOptions" placeholder=" " optionLabel="label" id="endTime" formControlName="endTime">
                <ng-template let-time pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <!-- <i class="fas fa-check"></i> -->
                        <div>{{time.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <br>
        <!--Actions-->
        <div class="form-group-inline">
            <!-- <i class="fas fa-plus accent action"></i> -->
            <button pButton type="submit" class="primary" label="New Day-Time(s)" id="submit" ></button>
        </div>
    </form>
    <hr class="separator">
    <div class="scheduler-caledar">
        <p-fullCalendar #calendar [events]="events" [options]="options"></p-fullCalendar>
    </div>
</div>